body {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", "PT sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header,
inner-header {
    padding: 0;
    margin: 0;
    padding-bottom: 65px;
    background-color: #f3f7f8;
}

.header-hat {
    display: flex;
    padding: 0 130px;
    margin: 0;
    background-color: #293449;
}

.header-hat h1 {
    width: 220px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 40px 5px 55px;
    box-shadow: 0 5px 0 0px #b62b35;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
}

.header-hat input[type="text"] {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 10px;
    width: 263px;
    box-sizing: border-box;
    background-color: #293449;
    border: none;
}

.header-hat-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header-hat-list a {
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
}

.header-hat-list li {
    padding: 11px 0;
    display: flex;
    align-items: center;
}

.header-search {
    width: 287px;
    box-sizing: border-box;
}

.main-header svg {
    opacity: 0.3;
}

.header-search svg {
    padding-left: 17px;
}

.bookmark svg {
    padding-right: 13px;
}

.basket svg {
    padding-right: 17px;
}

.header-hat-list li:nth-child(2) {
    box-sizing: border-box;
    width: 151px;
}

.header-hat-list li:nth-child(3) {
    box-sizing: border-box;
    width: 132px;
}

.header-hat-list li:nth-child(4) {
    box-sizing: border-box;
    width: 150px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #63a63e;
}

.header-middle {
    display: flex;
    align-items: flex-start;
    padding: 46px 130px;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 38px;
}

.header-description {
    margin: 0;
    padding: 0;
    margin-left: 55px;
    width: 200px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.contacts-header {
    margin-left: 65px;
}

.contacts-phone {
    box-sizing: border-box;
    width: 270px;
    margin: 0;
    padding-left: 70px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 3px solid #ffffff;
    background-image: url("../img/icon-phone.svg");
    background-position: 13px 50%;
    background-repeat: no-repeat;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.contacts-adress {
    box-sizing: border-box;
    width: 270px;
    margin: 0;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-menu {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
}

.user-menu a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-menu li {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ffffff;
}

.user-menu li:first-child {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    margin: 0;
    padding-left: 14px;
    padding-right: 25px;
}

.user-menu svg {
    padding-right: 14px;
}

.user-menu li:nth-child(2) {
    box-sizing: border-box;
    width: 150px;
    margin: 0;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    padding: 0 130px;
    margin: 0;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 52px;
    padding-right: 55px;
    padding-top: 21px;
    padding-bottom: 18px;
    list-style: none;
    box-shadow: 0 5px 0 0px #293449;
    background-color: #32425c;
}

.site-navigation li {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 17px;
}

.site-navigation a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.main-container {
    padding: 0;
    margin: 0;
    margin-top: 59px;
    background-color: #ffffff;
}

.main-container section {
    margin: 0;
    padding: 0;
    padding-left: 130px;
    padding-right: 130px;
}

.main-container h3 {
    margin: 0;
    margin-left: -2px;
    margin-bottom: 10px;
    padding: 0;
    width: 135px;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}

.offers-list {
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.offers-list li,
.features-list li {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding-left: 25px;
    padding-right: 140px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.offers-list li:first-child {
    margin-left: 0;
    background-color: #ffbf47;
    background-image: url('../img/icon-1.svg');
    background-position: 213px 50%;
    background-repeat: no-repeat;
}

.offers-list li:nth-child(2) {
    background-color: #3bbce3;
    background-image: url('../img/icon-2.svg');
    background-position: 197px 50%;
    background-repeat: no-repeat;
}

.offers-list li:nth-child(3) {
    background-color: #dc91d8;
    background-image: url('../img/icon-3.svg');
    background-position: 191px 50%;
    background-repeat: no-repeat;
}

.features-list li:first-child {
    background-color: #8ed78f;
    margin-bottom: 20px;
    background-image: url('../img/icon-4.svg');
    background-position: 196px 50%;
    background-repeat: no-repeat;
}

.features-list li:nth-child(2) {
    background-color: #ffc047;
    background-image: url('../img/icon-5.svg');
    background-position: 191px 50%;
    background-repeat: no-repeat;
}

.flag-new {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    background: url('../img/new.png') no-repeat 0 0;
}

.offers-list a,
.features-list a {
    display: block;
    box-sizing: border-box;
    width: 135px;
    padding: 10px 25px;
    padding-right: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.features-list li:nth-child(2) > a {
    padding-left: 35px;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #5c666d;
    width: 620px;
    list-style: none;
}

.slider-control {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 10px;
    left: 50%;
    bottom: 36px;
    z-index: 100;
    transform: translate(-50%);
    line-height: 0;
    font-size: 0;
}

.slider-control span {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    line-height: 0;
    font-size: 17px;
}

.slider-control .active {
    background-color: #ee3643;
}

.slider-control span:first-child {
    margin-right: 10px;
}

.slider-drill {
    height: 100%;
    background-image: url('../img/slider2.jpg');
    background-repeat: no-repeat;
}

.slider-perforator {
    display: none;
    background-image: url('../img/slider1.jpg');
    background-repeat: no-repeat;
}

.main-container .features {
    display: flex;
    margin-bottom: 53px;
}

.features-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    padding: 0;
}

.slider p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 25px;
    color: #ffffff;
}

.slider-hat {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 25px;
    margin-bottom: 100px;
}

.slider-btn {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
}

.slider-btn::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
}

.prev-slider-btn {
    top: 50%;
    left: 25px;
}

.prev-slider-btn::after {
    transform: rotate(-45deg);
}


.next-slider-btn {
    top: 50%;
    right: 25px;
}

.next-slider-btn::after {
    transform: rotate(135deg);
}

.open-catalog-btn {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 25px;
    bottom: 22px;
    width: 195px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ee3643;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

}

.popular-wrap {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.popular-wrap h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.all-items-btn,
.all-maker-btn {
    display: block;
    width: 253px;
    box-sizing: border-box;
    padding: 10px 55px;
    padding-right: 50px;
    margin-left: auto;
    border-radius: 3px;
    background-color: #ee3643;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.all-maker-btn {
    padding-right: 50px;
    padding-left: 70px;
}

.items-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.items-list li {
    position: relative;
    width: 218px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    font-weight: bold;
    text-align: center;
}

.actions {
    display: none;
}

.title {
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.discount {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: line-through;
    color: #a9a9a9;
}

.price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #ee3643;
    border-radius: 3px;
    font-weight: bold;
}

.price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.without-discount {
    margin-top: 38px;
}

.image {
    width: 218px;
    height: 150px;
}

.image img {
    max-width: 100%;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    list-style: none;
}

.manufacturers-list li {
    margin-bottom: 20px;
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    font-weight: bold;
    text-align: center;
}

.manufacturers-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 220px;
    height: 145px;
}

.main-container .services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f4f8f9;
}

.services h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.services p {
    padding: 0;
    margin: 0;

    padding-bottom: 25px;
    width: 360px;
    font-size: 13px;
    line-height: 24px;
}

.services h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services-list {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 240px;
    box-sizing: border-box;
    list-style: none;
    box-shadow:
}

.services-list li {
    margin: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #32425c;
    border-bottom: 1px solid #4d627b;
}

.services-list .active-service {
    background-color: #ffffff;
}

.services-list a {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
}

.active-service > a {
    color: #32425c;
}

.services-container {
    display: flex;
}

.services-wrap {
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: -30px 0 30px -40px black;
}

.services-wrap p {
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    width: 360px;
    font-size: 13px;
    line-height: 24px;
}

.delivery-wrap p {
    width: 250px;
}

.delivery {
    position: relative;
    padding: 0;
    margin: 0;
}

.guarantee,
.credit {
    display: none;
    position: relative;
}

.image-car,
.image-guarantee,
.image-credit {
    position: absolute;
}

.image-car {
    bottom: -100px;
    left: 150px;
    width: 468px;
    height: 261px;
}

.image-guarantee {
    bottom: -100px;
    left: 240px;
    width: 389px;
    height: 283px;
}

.image-credit {
    bottom: -100px;
    left: 152px;
    width: 468px;
    height: 285px;
}

.credit a {
    display: block;
    width: 106px;
    padding: 10px 45px;
    padding-right: 44px;
    border-radius: 3px;
    background-color: #ee3643;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.index-columns {
    display: flex;
    flex-wrap: wrap;
    padding-top: 85px;
    padding-bottom: 86px;
}

.index-columns .description {
    padding: 0;
    padding-left: 130px;
}

.index-columns h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.index-columns p {
    padding: 0;
    padding-bottom: 24px;
    margin: 0;
    width: 520px;
    font-size: 13px;
    line-height: 24px;
}

.contacts p {
    width: 190px;
}

.index-columns .partners-list {
    margin: 0;
        margin-bottom: 34px;
    padding: 0;
    width: 220px;
    list-style: none;
}

.index-columns .contacts {
    margin-left: auto;
    padding: 0;
    width: 300px;
    padding-right: 130px;
}

.description a {
    display: block;
    width: 140px;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #ee3643;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.contacts a {
    display: block;
    width: 300px;
    box-sizing: border-box;
    padding: 10px 55px;
    padding-right: 50px;
    border-radius: 3px;
    background-color: #ee3643;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.contacts p {
        padding-bottom: 30px;
}

.partners-list li {
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 35px;
}

.partners-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 25px;
    height: 0;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ee3643;
}

.map {
    width: 300px;
    height:158px;
    margin-bottom: 42px;
}

.footer-hat {
    background-color: #32425c;
}

.footer-hat h2 {
    width: 220px;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 40px 15px 40px;
    box-shadow: 0 5px 0 0px #b62b35;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #e43845;
    color: #ffffff;
}

.main-footer section {
    padding: 0 130px;
}

.main-footer .footer-hat {
    padding-bottom: 50px;
}

.footer-hat p {
    margin: 0;
    width: 325px;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-hat-top a {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-hat-bottom a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-hat ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
    width: 550px;
    margin: 0;
    padding: 0;
}

.footer-hat li {
    padding-top: 40px;
}

.footer-hat-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-hat-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-list li {
    padding: 0;
    margin: 0;
    color: #ffd180;
}

.footer-hat-bottom .catalog-list {
    width: 530px;
}

.main-footer .footer-foot {
    padding-top: 35px;
    background-color: #293449;
}

.main-footer .footer-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
}

.footer-foot p {
    margin: 0;
    width: 230px;
    color: #ffffff;
    font-size: 16px;
}

.footer-foot ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.communications {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.communications p:first-child {
    width: 135px;
}

.communications p:nth-child(2) {
    width: 110px;
    margin-left: 50px;
}

.communications a {
    color: #ffd180;
}

.footer-social {
    margin: 0;
    padding: 0;
    margin-left: 160px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 135px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list li {
    margin-right: 6px;
    margin-bottom: 3px;
}

.social-list li:last-child {
    margin: 0;
    margin-bottom: 3px;
}

.social-button {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #212a3a;
    font-size: 0px;
    line-height: 0px;
}

.social-button:hover,
.social-button:focus {
    background-color: rgb(102, 158, 192);
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}

.pop-up {
    display: none;
    position: absolute;
    left: 290px;
    top: 2520px;
    width: 620px;
    opacity: 1;
    background-color: #ffffff;
    border-top: 5px solid #ff5358;
    box-shadow: 0 0 10px 5px #a2a2a2;
}

.pop-up fieldset {
    border: none;
}

.pop-up-wrap {
    position: relative;
}

.pop-up-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.pop-up-close::before,
.pop-up-close::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;
    width: 19px;
    height: 3px;
    background-color: #ee3643;
}

.pop-up-close::before {
    transform: rotate(45deg);
}

.pop-up-close::after {
    transform: rotate(-45deg);
}
