body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background-color:rgb(255, 255, 255);
    color:rgba(51, 51, 51, 1);
    text-align:center;
}

a {
    text-decoration: none;
}
.main-header {
    width:auto;
    height:564px;
    background-image: url("background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.site-navigation {
    list-style: none;
    line-height: 26px;
    font-weight: bold;
    background-color:rgb(255,255,255);
}

.causes p:first-child {
    font-weight:bold;
    font-size:21px;
    line-height: 26px;
    
}

.cause h3 {
    font-weight:bold;
    font-size:21px;
}

.cause-realcity, .cause-bridge {
    background-color: rgb(129,179,210);
    color:rgb(255, 255, 255);
}

.cause-area, .cause-road, .cause-tourists {
    background-color: rgb(238,238,238);
}

.facilities {
    background-color: rgb(255,255,255);
    list-style: none;
    color:rgb(0, 0, 0);
}

.booking h2 {
    font-weight:bold;
    font-size:30px;
    line-height:36px;
}

.booking p{
    line-height:24px;
}

.search-hotel {
     background-color: rgb(118,99,87);
     border:none;
}

.arrival-fieldset {
     border:none;
}


.departure-fieldset {
     border:none;
}


.people-fieldset {
     border:none;
}

.booking-window input[type="number"] {
    background-color: rgb(242, 242, 242);
    border:none;
}

.booking-window input[type="text"] {
    background-color: rgb(242, 242, 242);
    border:none;
}

.search {
    background-color:rgb(129, 179, 210);
    color:rgb(255, 255, 255);
    border:none;
}

.button-plus-minus {
     background-color: rgb(242, 242, 242);
     border:none;
}

.calendar-button {
    background-color: rgb(242, 242, 242);
    border:none;
}

.social-list {
    list-style: none;
}

.social-list li {
     background-color: rgb(129, 179, 210);
}

.visit {
     font-size: 21px;
     line-height: 26px;
     font-weight: bold;
     color: rgb(0, 0, 0);
}

.footer-copyright {
     line-height: 26px;
}

.inner-page {
    height:933px;
}

.inner-header {
    width:100%;
    height:56px;
}

.booking-options {
     color: rgb(255, 255, 255);
     background-image: url("filterbackground.jpg");
     background-position: top center;
     background-repeat: no-repeat;
}

.booking-legend {
     font-size:16px;
     font-weight:bold;
}
.booking-form fieldset {
     border:none;
     text-align: left;
}

.option-list {
    list-style: none;
}

.show {
    border:2px solid white;
    background-color:rgba(255,255,255,0);
    color:inherit;
}

.cost-per-day input[type="number"] {
    border:2px solid white;
    background-color:rgba(255,255,255,0);
    color:inherit;
}

.booking-form b {
    font-size:21px;
}

.sorting-button {
    border:none;
    background-color:rgba(255,255,255,0);
    font-size:12px;
    line-height:18px;
}

.variants-finded {
    list-style: none;
}

.variants-finded h3 {
    font-size:21px;
    line-height:26px;
}

.variants-finded li {
    text-align:left;
}

.raiting {
     text-align:right;
}

.details {
    border:none;
    background-color:rgb(129,179,210);
    color:rgb(255,255,255);
}

.book-now {
    border:none;
    background-color:rgb(118,99,87);
    color:rgb(255,255,255);
}
